.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}
.changeToRightRemoveAllButton {
  text-align: right;
}
.romoveAllButtonStyle {
  border: 0px;
  background-color: #ffffff;
  color: #0b69ff;
  cursor: pointer;
  font-weight: 600;
}

.OrderTotalAmount {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.CheckOut {
  background-color: #0b69ff;
  border: 0px;
  color: #ffffff;
  border-radius: 4px;
  height: 33px;
  flex-wrap: wrap;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
}
.checkOutStyle {
  margin-bottom: 13px;
}
.totalAmount {
  flex-wrap: wrap;
}
.oderTotal {
  font-size: 17px;
  color: #616e7c;
}
.h1 {
  font-size: 22px;
  color: #171f46;
}
.p {
  color: #616e7c;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */

.bgForPopup {
  background-color: #171f46;
  color: #ffffff;
}

.PopUpCard {
  background-color: #171f46;
  color: #ffffff;
  padding: 22px;
  border-radius: 7px;
}
.OrderPlaced {
  background-color: coral;
  color: #ffffff;
  padding: 22px;
  border-radius: 22px;
}
.show {
  background-color: #0b69ff;
  color: aliceblue;
  border: 0px;
  border-radius: 7px;
  width: 130px;
  height: 34px;
  font-weight: 600;
  cursor: pointer;
}
.Hiding {
  border: 0px;
  border-radius: 7px;
  width: 130px;
  height: 34px;
  font-weight: 600;
}
.showing {
  border: 0px;
  border-radius: 7px;
  width: 130px;
  height: 34px;
  font-weight: 600;
}
.hiding {
  display: none;
}
.CloseButton {
  background-color: coral;
  color: aliceblue;
  height: 34px;
  width: 88px;
  margin-top: 12px;
  border: 0px;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .ButtonForEnableAndDisable {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .closeButtonFlex {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 22px;
  }
}

.order-placed-para {
  font-weight: 600;
}
